@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aileron";
    font-weight: 700;
    src: url("/fonts/Aileron/Aileron-Regular.otf") format("otf");
  }
}
